.box-btn{
    padding: 20px;
    margin-top: 20px;
    background-color: chocolate;
    border-radius: 10px;
}

.links a{
    color: brown;
    text-decoration: none;
    display: block;
}
.links {
    display: none;
    padding: 10px;
    box-shadow: 2px 5px 7px gray;
    width: 80px;
    margin-left: 10px;
    background-color: rgb(243, 223, 243);
        
}
 .box:hover .links{
     display: block;
 }
 .but{
     margin-top: 20px;
     padding: 20px;
     border-radius: 10px;
     background-color: crimson;
 }
 .list a{
     text-decoration: none;
     display: block;
     padding: 10px;
 }
 .list{
     width: 90px;
    box-shadow: 1px 3px 7px;
    margin-left:10px;
    display: none;
 }
 .down:hover .list {
     display: block;
 }