* {
    padding: 0;
    margin: 0;
}

.resume {
    height: 140vh;
    width: 70%;

}

img {
    height: 150px;
    position: absolute;
    bottom: 500px;
    left: 40px;
}

.header {
    height: 100px;
    width: 682px;
    background-color: brown;
    text-align: center;
    text-transform: uppercase;
    color: white;

}

h4 {
    text-transform: capitalize;
}

.my-contact h3 {
    text-decoration: underline;
    color: rgba(223, 245, 22, 0.945);
}

.my-contact {
    padding-top: 100px;
    padding-left: 50px;
    width: 30%;
    height: 100vh;
    color: white;
    background-color: cadetblue;
}

.bi-bi-envelope {
    position: relative;
    top: 5px;
    right: 10px;
}

.bi-bi-telephone {
    position: relative;
    right: 10px;
    top: 2px;
}

.bi-bi-geo-alt {
    position: relative;
    right: 10px;
    top: 3px;
}

address {
    position: relative;
    left: 20px;
    bottom: 20px;
}

.bi-bi-globe {
    position: relative;
    bottom: 40px;
    right: 10px;
}

.site {
    position: relative;
    bottom: 40px;
}

h3 {
    text-transform: uppercase;
    text-decoration: underline;
}

ul li {
    text-transform: capitalize;
}

.about {
    height: 94vh;
    width: 250px;
    background-color: turquoise;
    position: absolute;
    left: 333px;
    top: 100px;
    padding: 50px;
    padding-top: 90px;
    text-indent: 30px;
}

.about h3 {
    padding-bottom: 20px;
}

.about p {
    font-size: larger;
    white-space: 2;
}