div {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border: 1px solid;
}

.squirrel {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.berry {
    height: 300px;
    width: 300px;
    object-fit: contain;
    object-position:50% 100% ;
}
.flower{
    height: 300px;
    width: 300px;
    object-fit:fill ;
}
.fruits{
    height: 300px;
    width: 300px;
    object-fit:none ;
}

.daniel{
    height: 300px;
    width: 300px;
    object-fit: scale-down ;
}