.wrap{
    height: 150px;
    width: 30%;
    border: solid;
    text-align: center;
    word-wrap: break-word;
}
.overflow{
    height: 100px;
    width: 30%;
    border: 1px solid;
    overflow: hidden;
}
.overflow:hover{
    overflow: visible;
}
.break{
    height: 120px;
    width: 100px;
    border: 1px solid;
    margin-top: 10px;
    word-break: break-all;
    writing-mode: sideways-lr;
}