h1{
    text-align: center;
}
/* p{
    text-indent: 80px;
    letter-spacing: 2px;
    white-space: normal;
    word-spacing: 10px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-variant:normal ;
    font-size: larger;
} */
.one{
    text-indent: 60px;
    text-transform: capitalize;
    letter-spacing:2px ;
    word-spacing:10px ;
    line-height:20px;
    font-style: italic;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-variant: small-caps;
    font-size: medium;
}
.two{
    font-family: "Madimi One", sans-serif;
}